<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="resource/js/vue.js"></script>
    <script type="text/javascript" src="resource/js/vuetify-v1.1.4.js"></script>
    <script type="text/javascript" src="resource/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="resource/js/moment.min.js"></script>
    <link href="resource/js/vuetify-v1.1.4.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://unpkg.com/vuetify@0.10.3/dist/vuetify.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
    <title>nnnn_Report</title>
    <style>
        body {
            font-family:'Nanum Gothic';
        }
        .position_htable {
            border: solid 1px white;
            width: 100%;
            height: 360px;
        }
        .position_atable {
            border: solid 1px white;
            width: 100%;
            height: 360px;
        }
        .position_atable td, .position_htable td {
            text-align: center;
            color:#fff;
            height: 35px;
        }
        td {
           color:#000;
        }

        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<v-app id="app" v-cloak>
<v-container class="py-5 text-xs-center grid-list-md">
    <v-layout row class="justify-center">
    <v-flex xs12 sm12 md10>
        <v-card dark>
            <v-tabs v-model="tabs" color="#303030" right height="70"
                    slider-color="yellow">
                <v-tab dark href="#index" style="background-color:#1A237E;">
                    <img src="resource/img/instapaper.png">
                </v-tab>
                <v-tab dark href="#Game" style="background-color:#00BFA5;">
                    <img src="resource/img/google-glass.png">
                </v-tab>
                <v-tab dark href="#Rank" style="background-color:#ffbb00;">
                    <img src="resource/img/registered-trademark.png">
                </v-tab>
            </v-tabs>
            <v-tabs-items v-model="tabs" class="white elevation-1">
                <v-tab-item id="index">
                    <v-card>
                        <v-card-title>
                            <v-layout col wrap class="justify-center">
                                <v-flex d-flex xs4>
                                    <v-card-media style="height: 100px;" src="resource/img/nnnn.PNG">

                                    </v-card-media>
                                </v-flex>
                                <v-flex d-flex xs8 class="justify-center">
                                    <div>
                                        <span v-html="msg.intro"></span>
                                    </div>
                                </v-flex>
                            </v-layout>
                        </v-card-title>
                        <v-card-text>
                            <v-layout class="justify-center align-center">
                                <v-flex d-flex xs6 sm4>
                                    <span class="title">{{ today }}</span>
                                </v-flex>
                                <v-flex d-flex xs6 sm4>
                                    <v-select
                                            v-model="listData.stadium"
                                            :items="stadiumList"
                                            label="Stadium"
                                    ></v-select>
                                </v-flex>
                                <v-spacer></v-spacer>
                            </v-layout>
                        </v-card-text>
                        <v-card-text>
                            <v-layout wrap class="justify-center align-center">
                                <v-flex d-flex xs4 sm4>
                                    <v-text-field label="Name" clearable v-model="attend_mem"></v-text-field>
                                </v-flex>
                                <v-flex d-flex xs4 sm4>
                                    <v-btn color="warning" v-on:click="addChip(attend_mem)">Attend</v-btn>
                                </v-flex>
                                <v-spacer></v-spacer>
                                <v-flex d-flex xs2>
                                    <span><v-icon>face</v-icon> {{ userList.length }} </span>
                                </v-flex>
                                <v-flex d-flex xs2>
                                    <span><v-icon>directions_run</v-icon> 5 </span>
                                </v-flex>
                            </v-layout>
                            <v-divider></v-divider>
                            <v-layout wrap class="text-xs-center">
                                <v-flex d-flex xs12>
                                    <v-card>
                                        <v-chip v-for="(item,idx) in attend_info"
                                                :key="idx" v-model="item.close" close
                                                :team="item.team"
                                                :color="item.color" @click="changeTeam()">
                                            {{item.name}}
                                        </v-chip>
                                    </v-card>
                                </v-flex>
                            </v-layout>
                            <v-layout wrap class="align-center">
                                <v-spacer></v-spacer>
                                <v-flex d-flex xs6 sm4>
                                    <v-select :items="Cnt" v-model="teamCnt"
                                            label="팀 수"></v-select>
                                </v-flex>
                                <v-flex d-flex xs6 sm4>
                                    <v-select :items="MaxCnt" v-model="teamMaxCnt"
                                              label="최대인원 수"></v-select>
                                </v-flex>
                                <v-spacer></v-spacer>
                                <v-flex d-flex xs6 sm2>
                                    <v-btn color="info" v-on:click="divideTeam">팀나누기</v-btn>
                                </v-flex>
                                <!--<v-flex d-flex xs6 sm2>
                                    <v-btn color="success" v-on:click="saveTeam">저장</v-btn>
                                </v-flex>-->
                            </v-layout>
                        </v-card-text>
                    </v-card>
                </v-tab-item>
                <v-tab-item id="Game">
                    <v-dialog dark v-model="showDialog" lazy :transition="false" persistent width="800px">
                        <v-card>
                            <v-card-title class="px-3">
                                <v-toolbar card dark
                                           color="gray-darken-2"
                                           height="30">
                                    <v-btn flat icon @click="showDialog=false">
                                        <v-icon>close</v-icon>
                                        CLOSE
                                    </v-btn>
                                    <v-spacer></v-spacer>
                                    <v-toolbar-title>

                                    </v-toolbar-title>
                                </v-toolbar>
                            </v-card-title>
                            <v-card-text class="py-0">
                                <v-container class="pa-0 text-xs-center grid-list-md justify-center align-center">
                                    <v-layout justify-center align-center row wrap>
                                        <v-flex d-flex xs12 sm6>
                                            <v-card height="368px">
                                                <!--<v-layout>
                                                    <v-flex d-flex xs12 sm2>
                                                        <v-btn dark v-model="startTime" color="yellow" @click="startGame">게임시작</v-btn>
                                                    </v-flex>
                                                </v-layout>-->
                                                <v-layout>
                                                    <v-flex>
                                                        <table bgcolor="#424242" class="position_htable" border="1">
                                                            <tr bgcolor="#D4E157" > <td colspan="3" style="color:#000000;"> HOME </td> </tr>
                                                            <tr> <td colspan="3"> {{ homeStarter }} </td> </tr>
                                                            <tr> <td colspan="3" class="font-weight-black display-3"> {{ select_gameResult.H_SCORE }} </td> </tr>
                                                            <tr bgcolor="#2E7D32"><td>{{homePosition.LW}}</td>
                                                                <td>{{homePosition.FW}}</td>
                                                                <td>{{homePosition.RW}}</td></tr>
                                                            <tr bgcolor="#2E7D32"><td>{{homePosition.LM}}</td>
                                                                <td>{{homePosition.CM}}</td>
                                                                <td>{{homePosition.RM}}</td></tr>
                                                            <tr bgcolor="#2E7D32"><td>{{homePosition.LB}}</td>
                                                                <td>{{homePosition.CB}}</td>
                                                                <td>{{homePosition.RB}}</td></tr>
                                                            <tr bgcolor="#2E7D32"> <td></td><td>{{homePosition.G}}</td><td></td></tr>
                                                            <tr> <td colspan="3"> 교체 : {{ homeSubstitute }} </td> </tr>
                                                        </table>
                                                    </v-flex>
                                                </v-layout>
                                            </v-card>
                                        </v-flex>
                                        <v-flex d-flex xs12 sm6>
                                            <v-card height="368px">
                                                <v-layout>
                                                    <v-flex>
                                                        <table bgcolor="#424242" class="position_atable" border="1">
                                                            <tr bgcolor="#FFA726"> <td colspan="3" style="color:#000000;"> AWAY </td> </tr>
                                                            <tr> <td colspan="3"> {{ awayStarter}} </td> </tr>
                                                            <tr> <td colspan="3" class="font-weight-black display-3"> {{ select_gameResult.A_SCORE }} </td> </tr>
                                                            <tr bgcolor="#2E7D32"><td >{{awayPosition.LW}}</td>
                                                                <td>{{awayPosition.FW}}</td>
                                                                <td>{{awayPosition.RW}}</td></tr>
                                                            <tr bgcolor="#2E7D32"><td>{{awayPosition.LM}}</td>
                                                                <td>{{awayPosition.CM}}</td>
                                                                <td>{{awayPosition.RM}}</td></tr>
                                                            <tr bgcolor="#2E7D32"><td>{{awayPosition.LB}}</td>
                                                                <td>{{awayPosition.CB}}</td>
                                                                <td>{{awayPosition.RB}}</td></tr>
                                                            <tr bgcolor="#2E7D32"> <td></td><td>{{awayPosition.G}}</td><td></td></tr>
                                                            <tr> <td colspan="3"> 교체 : {{ awaySubstitute }} </td> </tr>
                                                        </table>
                                                    </v-flex>
                                                </v-layout>
                                            </v-card>
                                        </v-flex>
                                    </v-layout>
                                    <v-layout>
                                        <v-flex d-flex sm12>
                                            <v-data-table
                                                    class="hidden-sm-and-down elevation-1"
                                                    :headers="reportHeaders"
                                                    :items="select_gameReport"
                                                    hide-actions dark>
                                                <template slot="items" slot-scope="props">
                                                    <tr v-if="props.item.TEAM == 'H'" bgcolor="#D4E157">
                                                        <td class="text-xs-center">{{ props.item.TIME }}</td>
                                                        <td class="text-xs-center">{{ props.item.TEAM }}</td>
                                                        <td class="text-xs-center">{{ props.item.TYPE_A }}</td>
                                                        <td class="text-xs-center">{{ props.item.NAME }}</td>
                                                        <td class="text-xs-center">{{ props.item.TYPE_B }}</td>
                                                        <td class="text-xs-center">{{ props.item.NAME2 }}</td>
                                                    </tr>
                                                    <tr v-else bgcolor="#FFA726">
                                                        <td class="text-xs-center">{{ props.item.TIME }}</td>
                                                        <td class="text-xs-center">{{ props.item.TEAM }}</td>
                                                        <td class="text-xs-center">{{ props.item.TYPE_A }}</td>
                                                        <td class="text-xs-center">{{ props.item.NAME }}</td>
                                                        <td class="text-xs-center">{{ props.item.TYPE_B }}</td>
                                                        <td class="text-xs-center">{{ props.item.NAME2 }}</td>
                                                    </tr>
                                                </template>
                                            </v-data-table>
                                            <v-data-table
                                                    class="hidden-sm-and-up elevation-1"
                                                    :headers="reportMobileHeaders"
                                                    :items="select_gameReport"
                                                    hide-actions dark>
                                                <template slot="items" slot-scope="props">
                                                    <tr v-if="props.item.TEAM == 'H'" bgcolor="#D4E157">
                                                        <td class="text-xs-center">{{ props.item.TIME }}</td>
                                                        <td class="text-xs-center">{{ props.item.TYPE_A }}<br>{{ props.item.NAME }}</td>
                                                        <td class="text-xs-center">{{ props.item.TYPE_B }}<br>{{ props.item.NAME2 }}</td>
                                                    </tr>
                                                    <tr v-else bgcolor="#FFA726">
                                                        <td class="text-xs-center">{{ props.item.TIME }}</td>
                                                        <td class="text-xs-center">{{ props.item.TYPE_A }}<br>{{ props.item.NAME }}</td>
                                                        <td class="text-xs-center">{{ props.item.TYPE_B }}<br>{{ props.item.NAME2 }}</td>
                                                    </tr>
                                                </template>
                                            </v-data-table>
                                        </v-flex>
                                    </v-layout>
                                    <v-layout row wrap>
                                        <v-flex d-flex xs12>
                                            <v-card v-for="(item, index) in insertGReport" :key="index">
                                                <v-layout row wrap>
                                                    <v-flex d-flex xs12 sm2>
                                                        <v-select v-model="item.TEAM" :items="teamType" label="TeamType"></v-select>
                                                    </v-flex>
                                                    <v-flex d-flex xs6 sm2>
                                                        <v-select v-model="item.TYPE_A" :items="typeA" label="TypeA" :change="__selectType(item.TYPE_A)"></v-select>
                                                    </v-flex>
                                                    <v-flex d-flex xs6 sm2>
                                                        <v-select v-model="item.NAME"
                                                                  v-if="item.TEAM === 'home'"
                                                                  :items="selectReportTeam.Home" label="이름"></v-select>
                                                        <v-select v-model="item.NAME"
                                                                  v-else
                                                                  :items="selectReportTeam.AWAY" label="이름"></v-select>
                                                    </v-flex>
                                                    <v-flex d-flex xs6 sm2>
                                                        <v-select v-model="item.TYPE_B" :items="typeB" label="TypeB"></v-select>
                                                    </v-flex>
                                                    <v-flex d-flex xs6 sm2>
                                                        <v-select v-model="item.NAME2"
                                                                  v-if="item.TEAM === 'home'"
                                                                  :items="selectReportTeam.Home" label="이름"></v-select>
                                                        <v-select v-model="item.NAME2"
                                                                  v-else
                                                                  :items="selectReportTeam.AWAY" label="이름"></v-select>
                                                    </v-flex>
                                                    <v-flex d-flex xs12 sm2>
                                                        <v-btn dark color="success" @click="saveReport(item)">저장</v-btn>
                                                    </v-flex>
                                                </v-layout>
                                            </v-card>
                                        </v-flex>
                                    </v-layout>
                                    <v-layout>
                                        <v-flex d-flex xs12>
                                            <v-btn block dark color="red" @click="addGameReport">
                                                <v-icon dark>add</v-icon>
                                            </v-btn>
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                            </v-card-text>
                        </v-card>
                    </v-dialog>
                    <v-card>
                        <v-expansion-panel>
                            <v-expansion-panel-content
                                    v-for="(item,index) in game_lists"
                                    :key="index">
                                <div slot="header">
                                    <span> {{ item.Date }} </span>
                                    <span>{{ item.Stadium }}</span>
                                    <span class="right mx-2"><v-icon>face</v-icon> {{ item.Attend }}</span>
                                    <span class="right"><v-icon>directions_run</v-icon> {{ item.Quarter }}</span>
                                </div>
                               <!-- <div>
                                    <v-btn color="#71ddbb" @click="addGame">경기 추가</v-btn>
                                </div>-->
                                <v-card v-for="(data,index) in game_Results">
                                    <v-card-text v-if="data.DATE == item.Date">
                                        <v-list two-line>
                                            <v-list-tile @click.stop="openDialog(data.DATE, data.QUARTER)">
                                                <v-list-tile-avatar>
                                                    {{ data.QUARTER }}
                                                </v-list-tile-avatar>
                                                <v-list-tile-content>
                                                    <v-list-tile-title>H:{{ data.HOMETEAM }}</v-list-tile-title>
                                                    <v-list-tile-title>A:{{ data.AWAYTEAM }}</v-list-tile-title>
                                                </v-list-tile-content>
                                                <v-list-tile-action>
                                                    <v-list-tile-action-text>{{ data.H_SCORE }}</v-list-tile-action-text>
                                                    <v-list-tile-action-text>{{ data.A_SCORE}}</v-list-tile-action-text>
                                                </v-list-tile-action>

                                                <v-avatar class="ml-5">
                                                    {{ data.RESULT }}
                                                </v-avatar>
                                            </v-list-tile>
                                        </v-list>
                                    </v-card-text>
                                </v-card>
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                        <!--<v-list two-line>
                            <v-list-tile v-for="(item, index) in game_reports" :key="index"
                                    avatar
                                    @click="">
                                <v-list-tile-avatar>
                                    {{ item.Date }}
                                </v-list-tile-avatar>
                                <v-list-tile-content>
                                    <v-list-tile-title v-html="item.Stadium"></v-list-tile-title>
                                </v-list-tile-content>
                                <v-list-tile-avatar>
                                    <v-icon>face</v-icon>
                                    {{ item.Attend }}
                                </v-list-tile-avatar>
                                <v-list-tile-avatar>
                                    <v-icon>directions_run</v-icon>
                                    {{ item.Quarter }}
                                </v-list-tile-avatar>
                            </v-list-tile>
                        </v-list>-->
                    </v-card>
                </v-tab-item>
                <v-tab-item id="Rank">
                    <v-layout class="justify-center">
                        <v-flex xs12>
                            <v-card dark>
                                <v-tabs v-model="tabs2" centered color="#303030" height="320" slider-color="blue">
                                    <v-tab href="#goalCnt" style="background-color:#cbd1d4;">
                                        <v-card>
                                            <v-card-title class="align-center">
                                                최다 득점 TOP<b style="color: red;">5</b>
                                            </v-card-title>
                                            <v-data-table light hide-headers
                                                          :headers="headers"
                                                          :items="goalData"
                                                          :pagination.sync="pagination3"
                                                          hide-actions
                                                          class="elevation-1">
                                                <template slot="items" slot-scope="props">
                                                    <tr bgcolor="#F5F5F5">
                                                        <td class="text-xs-left">{{ props.item.name }}</td>
                                                        <td class="text-xs-center font-weight-thin caption pa-0" style="color:#a5a5a5; font-size:10px;">{{ props.item.gameCnt }}경기</td>
                                                        <td class="text-xs-center font-weight-bold font-italic title" style="color:#71ddbb">{{ props.item.goalCnt }}</td>
                                                    </tr>
                                                </template>
                                            </v-data-table>
                                        </v-card>
                                    </v-tab>
                                    <v-tab href="#assignCnt" style="background-color:#cbd1d4;">
                                        <v-card>
                                            <v-card-title class="align-center">
                                                최다 도움 TOP<b style="color: red;">5</b>
                                            </v-card-title>
                                            <v-data-table light hide-headers
                                                          :headers="headers2"
                                                          :items="goalData"
                                                          :pagination.sync="pagination4"
                                                          hide-actions
                                                          class="elevation-1">
                                                <template slot="items" slot-scope="props">
                                                    <tr bgcolor="#F5F5F5">
                                                        <td class="text-xs-left">{{ props.item.name }}</td>
                                                        <td class="text-xs-center font-weight-thin caption pa-0" style="color:#a5a5a5; font-size:10px;">{{ props.item.gameCnt }}경기</td>
                                                        <td class="text-xs-center font-weight-bold font-italic title" style="color:#71ddbb">{{ props.item.assignCnt }}</td>
                                                    </tr>
                                                </template>
                                            </v-data-table>
                                        </v-card>
                                    </v-tab>
                                </v-tabs>
                                <v-tabs-items v-model="tabs2">
                                    <v-tab-item id="goalCnt">
                                        <v-card flat>
                                            <v-card-text>골 득점 순위</v-card-text>
                                            <v-data-table light
                                                    :headers="goalHeaders"
                                                    :items="goalData"
                                                    :pagination.sync="pagination"
                                                    :rows-per-page-items="[5, 10, 25, 100]"
                                                    :rows-per-page="100"
                                                    class="elevation-1">
                                                <template slot="items" slot-scope="props">
                                                    <td>{{ props.item.name }}</td>
                                                    <td class="text-xs-right">{{ props.item.goalCnt }}</td>
                                                    <td class="text-xs-right">{{ props.item.assignCnt }}</td>
                                                    <td class="text-xs-right">{{ props.item.gameCnt }}</td>
                                                </template>
                                            </v-data-table>
                                        </v-card>
                                    </v-tab-item>
                                    <v-tab-item id="assignCnt">
                                        <v-card flat>
                                            <v-card-text>도움 순위</v-card-text>
                                            <v-data-table light
                                                          :headers="assignHeader"
                                                          :items="goalData"
                                                          :pagination.sync="pagination2"
                                                          :rows-per-page-items="[5, 10, 25, 100]"
                                                          :rows-per-page="100"
                                                          class="elevation-1">
                                                <template slot="items" slot-scope="props">
                                                    <td>{{ props.item.name }}</td>
                                                    <td class="text-xs-right">{{ props.item.assignCnt }}</td>
                                                    <td class="text-xs-right">{{ props.item.goalCnt }}</td>
                                                    <td class="text-xs-right">{{ props.item.gameCnt }}</td>
                                                </template>
                                            </v-data-table>
                                        </v-card>
                                    </v-tab-item>
                                </v-tabs-items>
                            </v-card>
                        </v-flex>
                    </v-layout>


                    <!--<v-data-table light
                                  :headers="headers2"
                                  :items="assignData"
                                  :pagination.sync="pagination2"
                                  hide-actions
                                  class="elevation-1">
                        <template slot="items" slot-scope="props">
                            <tr bgcolor="#F5F5F5">
                                <td class="text-xs-center">{{ props.item.name2 }}</td>
                                <td class="text-xs-center">{{ props.item.assignCnt }}</td>
                            </tr>
                        </template>
                    </v-data-table>-->

                </v-tab-item>
            </v-tabs-items>
        </v-card>
    </v-flex>
</v-layout>
</v-container>
</v-app>
</body>
</html>


<script>
    const app = new Vue({
        el: '#app',
        data : {
            attend_info:[],
            attend_mem:'',
            Cnt:[2,3,4],
            MaxCnt:[3,4,5,6,7],
            curDialog:'',
            showDialog:false,
            day_info: [],
            game_reports: [],
            select_gameReport: [],
            game_lists:[],
            game_Results:[],
            select_gameResult:[],
            today_game_report: [],
            landscape: false,
            msg : { intro : '눈누난나봇이다!<br> 경기리포트 작성 도와준다.' },
            picker: null,
            reactive: false,
            listData:{ date:'', stadium:'', attendCnt: 0, quarterCnt: 0},
            selectedName: '',
            tabs: null,
            tabs2: null,
            teamType : ['home', 'away', 'third', 'fourth'],
            today: moment().format('YYYY-MM-DD'),
            now: moment().format('HH:mm:ss'),
            startTime: moment().format('HH:mm:ss'),
            teamCnt:0,
            teamMaxCnt:0,
            homePosition: {LW:'', FW:'', RW:'', LM:'', CM:'', RM:'', LB:'', CB:'', RB:'', G:'' },
            awayPosition: {LW:'', FW:'', RW:'', LM:'', CM:'', RM:'', LB:'', CB:'', RB:'', G:'' },
            thirdPosition: {LW:'', FW:'', RW:'', LM:'', CM:'', RM:'', LB:'', CB:'', RB:'', G:'' },
            homeStarter:[],
            homeSubstitute:[],
            awayStarter:[],
            awaySubstitute:[],
            thirdSubstitute:[],
            userList: [],
            selectStadium: '',
            assignCnt:'',
            goalCnt:'',
            stadiumList:[
                '망원체육시설',
                '우면다목적구장',
                '잠실제1구장',
                '잠실제2구장',
                '잠실제3구장'],
            typeA:['골', 'Out', '키퍼Out', 'OG' ],
            typeB:['어시', 'In', '키퍼In' ],
            selectReportTeam: {},
            // selectAway:['어시', 'In', '키퍼In' ],
            /*userList: ['고지원',
                '김나경', '김민정', '김세희', '김해린', '류새아라', '박서진', '박소연',
                '박채민', '백주희', '윤민아', '윤영임', '윤지선', '이종은', '이선경',
                '이정명', '이현아', '이화인', '임지영', '최주희', '하은선', '함박눈'],*/
            rawData:[],
            pagination: {
                sortBy: 'goalCnt',
                descending: true
            },
            pagination2: {
                sortBy: 'assignCnt',
                descending: true,
            },
            pagination3: {
                sortBy: 'goalCnt',
                descending: true
            },
            pagination4: {
                sortBy: 'assignCnt',
                descending: true
            },
            headers: [
                { text: '이름', value: 'name', align: 'center', sortable: false },
                { text: '경기', value: 'gameCnt', align: 'center', sortable: false },
                { text: '득점', value: 'goalCnt', align: 'center', sortable: false }
            ],
            headers2: [
                { text: '이름', value: 'name', align: 'center', sortable: false },
                { text: '경기', value: 'gameCnt', align: 'center', sortable: false },
                { text: '도움', value: 'assignCnt', align: 'center', sortable: false}
            ],
            goalHeaders: [
                { text: '이름', value: 'name', align: 'center', sortable: false },
                { text: '득점', value: 'goalCnt', align: 'center', sortable: false },
                { text: '도움', value: 'assignCnt', align: 'center', sortable: false},
                { text: '경기 수', value: 'gameCnt', align: 'center', sortable: false}
            ],
            assignHeader: [
                { text: '이름', value: 'name', align: 'center', sortable: false },
                { text: '도움', value: 'assignCnt', align: 'center', sortable: false},
                { text: '득점', value: 'goalCnt', align: 'center', sortable: false },
                { text: '경기 수', value: 'gameCnt', align: 'center', sortable: false}
            ],
            reportHeaders:[
                {text:'시간', value:'TIME', align:'center', sortable: false},
                {text:'H/A', value:'구분', align:'center', sortable: false},
                {text:'분류', value:'TYPE_A', align:'center', sortable: false},
                {text:'이름', value:'NAME', align:'center', sortable: false},
                {text:'분류 ', value:'TYPE_B', align:'center', sortable: false},
                {text:'이름 ', value:'NAME2', align:'center', sortable: false}
            ],
            reportMobileHeaders:[
                {text:'T', value:'TIME', align:'center', width: '5px', sortable: false},
                {text:'이름', value:'NAME', align:'center', sortable: false},
                {text:'이름 ', value:'NAME2', align:'center', sortable: false}
            ],
            reportData:[],
            goalData: [ {name:'',goalCnt:0,gameCnt:0} ],
            assignData: [{name:'',assignCnt:0,gameCnt2:0}],
            insertGReport: []
        },
        created: function () {
            const self = this;

            try { // statements to try
                setTimeout(function () { // wait for 50ms and run this.
                    self.callgameLists();
                    self.callgameResults();
                    self.callGoalData();
                    // self.callAssignData();
                    self.callgameReport();
                }, 50);
            }
            catch (e) {
            }
            ///////////////////////////////////////////////////
        },
        methods: {
            addChip : function (attend_mem) {
                const self = this;
                self.userList.push(attend_mem);
                self.userList.forEach( function(item, idx) {
                    let arr={name:item,close:true,team:'',color:''};
                    self.attend_info[idx] = arr;
                });
                self.attend_mem='';
            },

            changeTeam: function() {
              console.log('team변경');

            },

            divideTeam: function(){
                const self = this;
                console.log(self.teamCnt + 'team 으로 나누기');
                let _arr = {};
                let _num;
                const _counts={};
                for (let i = 0; i<self.teamCnt; i++) {
                    _arr[self.teamType[i]] = [];
                }
                self.attend_info.forEach(function(item) {
                    _num = Math.floor(Math.random() * self.teamCnt);
                    switch(_num){
                        case 0:
                            if(self.teamMaxCnt > _arr[self.teamType[0]].length) {
                                _arr[self.teamType[0]].push(item.name);
                                item.team='Home';
                                item.color='lime';
                                break;
                            }
                            break;
                        case 1:
                            if(self.teamMaxCnt > _arr[self.teamType[1]].length){
                                _arr[self.teamType[1]].push(item.name);
                                item.team='Away';
                                item.color='orange';
                                break;
                            }
                            break;
                        case 2:
                            if(self.teamMaxCnt > _arr[self.teamType[2]].length){
                                _arr[self.teamType[2]].push(item.name);
                                item.team='Third';
                                item.color='pink';
                                break;
                            }
                            break;
                        case 3:
                            if(self.teamMaxCnt > _arr[self.teamType[3]].length){
                                _arr[self.teamType[3]].push(item.name);
                                item.team='Fourth';
                                item.color='blue';
                                break;
                            }
                            break;
                    }
                });
                console.log(_arr);
                console.log(self.attend_info);
            },
            saveTeam: function() {
                const self = this;
                console.log('저장');
                /*self.listData.date = self.today;
                self.listData.stadium = self.selectStadium;
                self.listData.attendCnt = self.userList.length;
                self.listData.quarterCnt = 5;

                const params = {
                    // The ID of the spreadsheet to retrieve data from.
                    spreadsheetId: '1CzmR2ScAXiRsvuIMpy1UyvFX0V2zKRIo5mLPQp6dGHA',
                    range: '경기리스트!A:C'
                };

                $.ajax({
                    url: 'https://sheets.googleapis.com/v4/spreadsheets/' + params.spreadsheetId
                    + '/values/' + params.range + '?key=AIzaSyAflvcTHh-FKT2afjfpTBqtgdllxO5kzNM',
                    type: 'post',
                    datatype: 'json',
                    crossDomain: true,
                    data: self.listData,
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (error) {
                        alert(error.toString());
                        console.log(error);
                    }
                });*/
            },
            startGame: function() {
                console.log('start');
                const self = this;
                console.log(self.startTime);
                //self.startTime = moment().format('HH:mm:ss');
            },
            addGameReport: function() {
                console.log('경기 기록하기');
                const self = this;
                var now = self.now;
                /*var start = self.startTime;
                console.log(start);
                const minuteDiff=now.diff(start); //분
                let duration = moment.duration(now.diff(start));*/
                let _arr= {DATE:'', TYPE :'', QUARTER: '', TEAM: '', TIME:'', TYPE_A: '', NAME:'', TYPE_B: '', NAME2: '', HOME: '', AWAY: '' };
                _arr['DATE'] = self.select_gameReport[0].DATE;
                _arr['TYPE'] = self.select_gameReport[0].TYPE;
                _arr['QUARTER'] = self.select_gameReport[0].QUARTER;
                _arr['TIME'] = self.now;
                //_arr['TIME'] = minuteDiff;
                _arr['AWAY'] = self.select_gameReport[0].AWAY;
                _arr['HOME'] = self.select_gameReport[0].HOME;
                self.insertGReport.push(_arr);
            },
            addGame: function() {
                console.log('경기 추가');
                const self = this;

            },
            __selectType: function(type) {
                const self = this;
                if (type === '골') {
                    self.insertGReport[0].TYPE_B = '어시'
                }else if (type === 'Out') {
                    self.insertGReport[0].TYPE_B = 'In'
                }else if(type === '키퍼Out') {
                    self.insertGReport[0].TYPE_B = '키퍼In'
                }else {
                    self.insertGReport[0].TYPE_B = ''
                }
            },
            saveReport: function(item) {
                const self = this;
                console.log('저장');
                console.log(item);
                self.select_gameReport.push(item);
                self.insertGReport = [];

            },
            openDialog: function(date,quarter) {
                const self = this;
                self.curDialog = date;
                self.resetData();
                self.game_reports.forEach(function(item,idx) {
                    if(item['DATE'] === date && item['QUARTER'].substr(0,1) == quarter) {
                        self.select_gameReport.push(item);
                    }
                });
                console.log(self.select_gameReport);

                self.game_Results.forEach(function(item) {
                    if(item['DATE'] === date && item['QUARTER'].substr(0,1) == quarter) {
                        self.select_gameResult =item;
                    }
                });

                self.setPosition(self.select_gameResult);

                // Open the dialog
                self.showDialog=true;
            },
            resetData: function() {
                const self = this;
                self.homePosition = {LW:'', FW:'', RW:'', LM:'', CM:'', RM:'', LB:'', CB:'', RB:'', G:'' };
                self.awayPosition = {LW:'', FW:'', RW:'', LM:'', CM:'', RM:'', LB:'', CB:'', RB:'', G:'' };
                self.thirdPosition = {LW:'', FW:'', RW:'', LM:'', CM:'', RM:'', LB:'', CB:'', RB:'', G:'' };
                self.select_gameReport = [];
                self.insertGReport = [];
                self.selectReportTeam = {};
            },
            setPosition: function(data) {
                const self = this;
                console.log(data);
                let _home=[];
                let _away=[];

                // 선발과 교체 나누기
                let _arr1 =  data['HOMETEAM'].split(' /');
                let _arr2 =  data['AWAYTEAM'].split(' /');
                self.homeStarter = _arr1[0];
                self.awayStarter = _arr2[0];
                self.homeSubstitute = _arr1[1];
                self.awaySubstitute = _arr2[1];

                _home = _arr1[0].split(', ');
                self.selectReportTeam.Home = _home;
                _home.forEach( function (item) {
                    // () 안에 포지션 추출
                    let nm = item;

                    nm = nm.match(/\(.*\)/gi);
                    nm += "";
                    nm = nm.split("(").join("");
                    nm = nm.split(")").join("");
                    console.log(nm);
                    switch(nm){
                        case 'LW':
                            self.homePosition.LW = item;
                            break;
                        case 'FW':
                            self.homePosition.FW = item;
                            break;
                        case 'RW':
                            self.homePosition.RW = item;
                            break;
                        case 'LM':
                            self.homePosition.LM = item;
                            break;
                        case 'CM':
                            self.homePosition.CM = item;
                            break;
                        case 'RM':
                            self.homePosition.RM = item;
                            break;
                        case 'LB':
                            self.homePosition.LB = item;
                            break;
                        case 'CB':
                            self.homePosition.CB = item;
                            break;
                        case 'RB':
                            self.homePosition.RB = item;
                            break;
                        case 'G':
                            self.homePosition.G = item;
                            break;
                    }
                });
                _away = _arr2[0].split(', ');
                self.selectReportTeam.AWAY = _away;
                _away.forEach( function (item) {
                    let nm = item;
                    nm = nm.match(/\(.*\)/gi);
                    nm += "";
                    nm = nm.split("(").join("");
                    nm = nm.split(")").join("");
                    switch(nm){
                        case 'LW':
                            self.awayPosition.LW = item;
                            break;
                        case 'FW':
                            self.awayPosition.FW = item;
                            break;
                        case 'RW':
                            self.awayPosition.RW = item;
                            break;
                        case 'LM':
                            self.awayPosition.LM = item;
                            break;
                        case 'CM':
                            self.awayPosition.CM = item;
                            break;
                        case 'RM':
                            self.awayPosition.RM = item;
                            break;
                        case 'LB':
                            self.awayPosition.LB = item;
                            break;
                        case 'CB':
                            self.awayPosition.CB = item;
                            break;
                        case 'RB':
                            self.awayPosition.RB = item;
                            break;
                        case 'G':
                            self.awayPosition.G = item;
                            break;
                    }
                });
            },
            callgameLists: function () {
                const self = this;
                const params = {
                    // The ID of the spreadsheet to retrieve data from.
                    spreadsheetId: '1CzmR2ScAXiRsvuIMpy1UyvFX0V2zKRIo5mLPQp6dGHA',
                    range: '경기리스트!A:D'
                };

                $.ajax({
                    url: 'https://sheets.googleapis.com/v4/spreadsheets/' + params.spreadsheetId
                    + '/values/' + params.range + '?key=AIzaSyAflvcTHh-FKT2afjfpTBqtgdllxO5kzNM',
                    type: 'get',
                    datatype: 'json',
                    crossDomain: true,
                    data: '',
                    success: function (data) {
                        if (data) {
                            self.rawData = data.values;
                            const arr_report = [];
                            self.rawData.forEach(function (items) {
                                const result = {};
                                self.rawData[0].forEach(function (key, idx) {
                                    result[key] = items[idx];
                                });
                                arr_report.push(result);
                            });
                            self.game_lists = arr_report.reverse();
                            self.game_lists.pop();
                        }
                    },
                    error: function (error) {
                        alert(error.toString());
                        console.log(error);
                    }
                });
            },
            callgameResults: function() {
                const self = this;
                const params = {
                    // The ID of the spreadsheet to retrieve data from.
                    spreadsheetId: '1CzmR2ScAXiRsvuIMpy1UyvFX0V2zKRIo5mLPQp6dGHA',
                    range: '경기결과!A:K'
                };

                $.ajax({
                    url: 'https://sheets.googleapis.com/v4/spreadsheets/' + params.spreadsheetId
                    + '/values/' + params.range + '?key=AIzaSyAflvcTHh-FKT2afjfpTBqtgdllxO5kzNM',
                    type: 'get',
                    datatype: 'json',
                    crossDomain: true,
                    data: '',
                    success: function (data) {
                        if (data) {
                            console.log(data);
                            self.rawData = data.values;
                            const arr_report = [];
                            self.rawData.forEach(function (items) {
                                const result = {};
                                self.rawData[0].map(function (key, idx) {
                                    result[key] = items[idx];
                                });
                                arr_report.push(result);
                            });
                            self.game_Results = arr_report.reverse();
                            self.game_Results.pop();
                            // console.log(self.game_Results);
                        }
                    },
                    error: function (error) {
                        alert(error.toString());
                        console.log(error);
                    }
                });
            },
            callGoalData: function() {
                const self = this;
                const params = {
                    // The ID of the spreadsheet to retrieve data from.
                    spreadsheetId: '1CzmR2ScAXiRsvuIMpy1UyvFX0V2zKRIo5mLPQp6dGHA',
                    range: '자체게임_골!H:K'
                };

                $.ajax({
                    url: 'https://sheets.googleapis.com/v4/spreadsheets/' + params.spreadsheetId
                    + '/values/' + params.range + '?key=AIzaSyAflvcTHh-FKT2afjfpTBqtgdllxO5kzNM',
                    type: 'get',
                    datatype: 'json',
                    crossDomain: true,
                    data: '',
                    success: function (data) {
                        if (data) {
                            // console.log(data);
                            self.rawData = data.values;
                            const arr_datas = [];
                            self.rawData.forEach(function (items, index) {
                                var result = {};
                                self.rawData[0].map(function (key, idx) {
                                    result[key] = items[idx];
                                });
                                arr_datas[index]=result;
                            });
                            self.goalData = arr_datas.reverse();
                            self.goalData.pop();
                            //console.log(self.goalData);
                           /* console.log('==========');
                            console.log(self.goalData);*/
                        }
                    },
                    error: function (error) {
                        alert(error.toString());
                        console.log(error);
                    }
                });
            },
           /* callAssignData: function() {
                const self = this;
                const params = {
                    // The ID of the spreadsheet to retrieve data from.
                    spreadsheetId: '1CzmR2ScAXiRsvuIMpy1UyvFX0V2zKRIo5mLPQp6dGHA',
                    range: '자체게임_골!K:M'
                };

                $.ajax({
                    url: 'https://sheets.googleapis.com/v4/spreadsheets/' + params.spreadsheetId
                    + '/values/' + params.range + '?key=AIzaSyAflvcTHh-FKT2afjfpTBqtgdllxO5kzNM',
                    type: 'get',
                    datatype: 'json',
                    crossDomain: true,
                    data: '',
                    success: function (data) {
                        if (data) {
                            console.log(data);
                            self.rawData = data.values;
                            const arr_datas = [];
                            self.rawData.forEach(function (items) {
                                const result = {};
                                self.rawData[0].map(function (key, idx) {
                                    result[key] = items[idx];
                                });
                                arr_datas.push(result);
                            });
                            self.assignData = arr_datas.reverse();
                            self.assignData.pop();
                            //console.log(self.assignData);
                        }
                    },
                    error: function (error) {
                        alert(error.toString());
                        console.log(error);
                    }
                });
            },*/
            callgameReport: function() {
                var self = this;
                const params = {
                    // The ID of the spreadsheet to retrieve data from.
                    spreadsheetId: '1CzmR2ScAXiRsvuIMpy1UyvFX0V2zKRIo5mLPQp6dGHA',
                    range: '경기기록(9)!A:K'
                };

                $.ajax({
                    url: 'https://sheets.googleapis.com/v4/spreadsheets/' + params.spreadsheetId
                    + '/values/' + params.range + '?key=AIzaSyAflvcTHh-FKT2afjfpTBqtgdllxO5kzNM',
                    type: 'get',
                    datatype: 'json',
                    crossDomain: true,
                    data: '',
                    success: function (data) {
                        if (data) {
                            self.rawData = data.values;
                            const arr_report = [];
                            self.rawData.forEach(function (items) {
                                const result = {};
                                self.rawData[0].map(function (key, idx) {
                                    result[key] = items[idx];
                                });
                                arr_report.push(result);
                            });
                            self.game_reports = arr_report.reverse();
                            self.game_reports.pop();
                            //console.log(self.game_reports);
                        }
                    },
                    error: function (error) {
                        alert(error.toString());
                        console.log(error);
                    }
                });
            }
        }
    });
</script>
