<template>
  <v-navigation-drawer permanent>
    <v-toolbar flat>
      <v-list>
        <v-list-tile>
          <v-list-tile-title class="title">
            Nunnu
          </v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-toolbar>

    <v-divider></v-divider>

    <v-list dense class="pt-0">
      <router-link to="/intro">
        <v-list-tile>
          <v-list-tile-action>
            <v-icon> local_activity </v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title> Introduce </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </router-link>
      <router-link to="/member">
      <v-list-tile>
        <v-list-tile-action>
          <v-icon> assignment_ind </v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-leist-tile-title> Member </v-leist-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      </router-link>


        <v-list-tile>
          <v-list-tile-action>
            <v-icon>description</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              <router-link to="/report"> Report   </router-link>
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

      <router-link to="/rank">
        <v-list-tile>
          <v-list-tile-action>
            <v-icon>insert_chart_outlined</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title> Ranking </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </router-link>  |
    </v-list>
  </v-navigation-drawer>
</template>

<script>
    export default {
        name: "NavigationComponent"
    }
</script>

<style scoped>

</style>
